.header {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 40px 1fr;
  grid-template-areas: "logo empty nav";
  
  height: 60px;
  padding: 0 50px;
  background: $white-custom-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
